<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler">
<mapEntry key="MOF14" value="MDR"/>
<mapEntry key="IN" value=""/>
</mapAttribute>
<stringAttribute key="ATL File Name" value="/uml1cs-transformations/ModelCopyGenerator.atl"/>
<mapAttribute key="Libs">
<mapEntry key="Config" value="/uml1cs-transformations/lib/Config.asm"/>
</mapAttribute>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType">
<mapEntry key="MOF14" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="MOF14" value="/uml1cs-transformations/metamodels/M3_MOF_1.4.xmi"/>
<mapEntry key="IN" value="/uml1cs-transformations/metamodels/M2_DiagramInterchangeModel_Poseidon4.xmi"/>
</mapAttribute>
<stringAttribute key="Project Name" value="uml1cs-transformations"/>
<mapAttribute key="Output"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="MOF14"/>
</mapAttribute>
</launchConfiguration>
