<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="Model Handler" value="MDR"/>
<stringAttribute key="ATL File Name" value="/UML1CaseStudies-transformations/Observer.atl"/>
<mapAttribute key="Libs">
<mapEntry key="Java" value="/UML1CaseStudies-transformations/lib/Java.asm"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="MERGEMODEL" value="METAMODELINPUT"/>
<mapEntry key="OBSERVER" value="MODELOUTPUT"/>
<mapEntry key="OBSERVERTYPES" value="MODELINPUT"/>
<mapEntry key="OBSERVERM" value="METAMODELOUTPUT"/>
<mapEntry key="ACCESSORSM" value="METAMODELINPUT"/>
<mapEntry key="ACCESSORS" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="MERGEMODEL" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="OBSERVER" value="../UML1CaseStudies-instantmessenger-model/outmodels/midp/im-midp-13-Observer"/>
<mapEntry key="OBSERVERTYPES" value="/UML1CaseStudies-transformations/models/Observer.xmi"/>
<mapEntry key="OBSERVERM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="ACCESSORSM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="ACCESSORS" value="/UML1CaseStudies-instantmessenger-model/outmodels/midp/im-midp-12-Accessors.xmi"/>
</mapAttribute>
<stringAttribute key="Project Name" value="UML1CaseStudies-transformations"/>
<mapAttribute key="Output">
<mapEntry key="OBSERVER" value="OBSERVERM"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="OBSERVERTYPES" value="MERGEMODEL"/>
<mapEntry key="ACCESSORS" value="ACCESSORSM"/>
</mapAttribute>
</launchConfiguration>
