<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="Model Handler" value="MDR"/>
<stringAttribute key="ATL File Name" value="/UML1CaseStudies-transformations/MIDlet.atl"/>
<mapAttribute key="Libs">
<mapEntry key="Java" value="/UML1CaseStudies-transformations/lib/Java.asm"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="MERGEMODEL" value="METAMODELINPUT"/>
<mapEntry key="APPLET" value="MODELOUTPUT"/>
<mapEntry key="APPLETM" value="METAMODELOUTPUT"/>
<mapEntry key="MIDLETTYPES" value="MODELINPUT"/>
<mapEntry key="SINGLETONM" value="METAMODELINPUT"/>
<mapEntry key="SINGLETON" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="MERGEMODEL" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="APPLET" value="../UML1CaseStudies-instantmessenger-model/outmodels/midp/im-midp-15-MIDlet"/>
<mapEntry key="APPLETM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="MIDLETTYPES" value="/UML1CaseStudies-transformations/models/MIDlet.xmi"/>
<mapEntry key="SINGLETONM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="SINGLETON" value="/UML1CaseStudies-instantmessenger-model/outmodels/midp/im-midp-14-Singleton.xmi"/>
</mapAttribute>
<stringAttribute key="Project Name" value="UML1CaseStudies-transformations"/>
<mapAttribute key="Output">
<mapEntry key="APPLET" value="APPLETM"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="MIDLETTYPES" value="MERGEMODEL"/>
<mapEntry key="SINGLETON" value="SINGLETONM"/>
</mapAttribute>
</launchConfiguration>
