<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<mapAttribute key="Model Handler"/>
<stringAttribute key="ATL File Name" value="/UML1CaseStudies/SingletonProcess.atl"/>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="ModelType"/>
<mapAttribute key="Path"/>
<stringAttribute key="Project Name" value="UML1CaseStudies"/>
<mapAttribute key="Output"/>
<mapAttribute key="Input"/>
</launchConfiguration>
