<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="Model Handler" value="MDR"/>
<stringAttribute key="ATL File Name" value="/UML1CaseStudies-transformations/Java2DataTypes.atl"/>
<mapAttribute key="Libs"/>
<mapAttribute key="ModelType">
<mapEntry key="MERGEMODEL" value="METAMODELINPUT"/>
<mapEntry key="DATATYPES" value="MODELOUTPUT"/>
<mapEntry key="JAVATYPES" value="MODELINPUT"/>
<mapEntry key="DATATYPESM" value="METAMODELOUTPUT"/>
<mapEntry key="APPLETM" value="METAMODELINPUT"/>
<mapEntry key="APPLET" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="MERGEMODEL" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="DATATYPES" value="../UML1CaseStudies-instantmessenger-model/outmodels/swing/im-swing-16-DataTypes"/>
<mapEntry key="JAVATYPES" value="/UML1CaseStudies-transformations/models/JavaTypes.xmi"/>
<mapEntry key="DATATYPESM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="APPLETM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="APPLET" value="/UML1CaseStudies-instantmessenger-model/outmodels/swing/im-swing-15-Applet.xmi"/>
</mapAttribute>
<stringAttribute key="Project Name" value="UML1CaseStudies-transformations"/>
<mapAttribute key="Output">
<mapEntry key="DATATYPES" value="DATATYPESM"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="JAVATYPES" value="MERGEMODEL"/>
<mapEntry key="APPLET" value="APPLETM"/>
</mapAttribute>
</launchConfiguration>
