<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="Model Handler" value="MDR"/>
<stringAttribute key="ATL File Name" value="/UML1CaseStudies-transformations/Java2Accessors.atl"/>
<mapAttribute key="Libs">
<mapEntry key="Java" value="/UML1CaseStudies-transformations/lib/Java.asm"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="MERGEMODEL" value="METAMODELINPUT"/>
<mapEntry key="ACCESSORS" value="MODELOUTPUT"/>
<mapEntry key="OCLTYPES" value="MODELINPUT"/>
<mapEntry key="ACCESSORSM" value="METAMODELOUTPUT"/>
<mapEntry key="ATTRIBUTESM" value="METAMODELINPUT"/>
<mapEntry key="ATTRIBUTES" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="MERGEMODEL" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="ACCESSORS" value="../UML1CaseStudies-instantmessenger-model/outmodels/swing/im-swing-12-Accessors"/>
<mapEntry key="OCLTYPES" value="/UML1CaseStudies-transformations/models/OclTypes.xmi"/>
<mapEntry key="ACCESSORSM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="ATTRIBUTESM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="ATTRIBUTES" value="/UML1CaseStudies-instantmessenger-model/outmodels/swing/im-swing-11-Attributes.xmi"/>
</mapAttribute>
<stringAttribute key="Project Name" value="UML1CaseStudies-transformations"/>
<mapAttribute key="Output">
<mapEntry key="ACCESSORS" value="ACCESSORSM"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="OCLTYPES" value="MERGEMODEL"/>
<mapEntry key="ATTRIBUTES" value="ATTRIBUTESM"/>
</mapAttribute>
</launchConfiguration>
