<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="Model Handler" value="MDR"/>
<stringAttribute key="ATL File Name" value="/UML1CaseStudies-transformations/Singleton.atl"/>
<mapAttribute key="Libs">
<mapEntry key="Java" value="/UML1CaseStudies-transformations/lib/Java.asm"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="SINGLETON" value="MODELOUTPUT"/>
<mapEntry key="SINGLETONM" value="METAMODELOUTPUT"/>
<mapEntry key="OBSERVERM" value="METAMODELINPUT"/>
<mapEntry key="OBSERVER" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="SINGLETON" value="../UML1CaseStudies-instantmessenger-model/outmodels/swing/im-swing-14-Singleton"/>
<mapEntry key="SINGLETONM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="OBSERVERM" value="/UML1CaseStudies-transformations/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="OBSERVER" value="/UML1CaseStudies-instantmessenger-model/outmodels/swing/im-swing-13-Observer.xmi"/>
</mapAttribute>
<stringAttribute key="Project Name" value="UML1CaseStudies-transformations"/>
<mapAttribute key="Output">
<mapEntry key="SINGLETON" value="SINGLETONM"/>
</mapAttribute>
<mapAttribute key="Input">
<mapEntry key="OBSERVER" value="OBSERVERM"/>
</mapAttribute>
</launchConfiguration>
