[Desktop Entry]
Name=Instant Messenger
Comment=Instant Messenger
Exec=run_im-jeode
Icon=instantmessenger-jeode
Type=Application
CanFastLoad=0
HidePrivilige=1
NeedSpace=4096