<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="Model Handler" value="MDR"/>
<stringAttribute key="ATL File Name" value="/UML1CaseStudies/ModelUsage.atl"/>
<mapAttribute key="Libs"/>
<mapAttribute key="ModelType">
<mapEntry key="INMODEL" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="INMODEL" value="/UML1CaseStudies/metamodels/M2_DiagramInterchangeModel.xmi"/>
<mapEntry key="IN" value="/UML1CaseStudies/models/InstantMessengerModel.xmi"/>
</mapAttribute>
<stringAttribute key="Project Name" value="UML1CaseStudies"/>
<mapAttribute key="Output"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="INMODEL"/>
</mapAttribute>
</launchConfiguration>
